@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Purpose of this application is to create a web application using ASP.NET MVC to manage our beverage database.</p>
<p>Click the links on top for moving around the web pages.</p>
<li>
    <ul></ul>
</li>
<p>Use the phone number below for even more info!</p>

<address>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
